.sort-card{
  width: 155px;
  height: 155px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;;
}
.sort-card > .icon-sort{
  width: 100px;
  height: 100px;
}